---
layout: archive
title: "Talks and keynotes"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

Some invited talks given at One Conference, Japan Advanced Instituted of Science and Technology, AIT, University of Padua, CyberSciTech. 
Please feel free to contact for the presentation slides. 
